html {
  font-size: 16px;
}

body {
  width: 80%;
  margin: 0 auto;
}

.pointer-cursor {
  cursor: pointer;
}

.main-wrap {
  margin: 0 auto;
  padding: 10px 0 0 0;
  width: 100%;
  height: max-content;
}

.video-tag {
  height: inherit;
  position: fixed;
  left: 0;
  top: 25px;
  padding: 5px 25%;
  z-index: 101;
}

.video-container {
  height: inherit;
  z-index: 100;
  position: fixed;
  left: 25%;
  top: 25px;
  padding: 0 25%;
  background: rgba(0, 0, 0, 0.71);
}

.cite-wrap {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  padding: 10px;
  flex-direction: column;
}

.main-div-wrap {
  width: 100%;
  height: fit-content;
  margin-bottom: 50px;
  flex: 0 0 60%;
}

.secondary-div-wrap {
  width: 100%;
  height: max-content;
}

.secondary-div-items-wrap {
  width: 100%;
  flex: 1 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.scrolled-video {
  position: fixed;
  top: 20px;
}

.secondary-div-item {
  margin: 15px 20px;
  flex: 0 1 280px;
  height: 180px;
}

.scrolled-video {
  position: fixed;
  top: 20px;
}

.image-div-wrap {
  height: 100%;
  width: inherit;
  margin: 0 auto;
}

.items-image-div-wrap {
  height: 100%;
  width: inherit;
}

.main-video-wrap {
  width: 100%;
  padding: 15px 25px;
  text-align: center;
  height: 300px;
}

.items-video-wrap {
  width: 100%;
  height: 80%;
  padding: 10px;
  text-align: center;
}

.items-movie-title {
  margin-left: 30px;
  width: max-content;
  font-size: 18px;
}

.main-movie-title {
  margin: 0 auto;
  width: max-content;
  font-size: 24px;
}

.tabulate {
  padding: 0 20px;
}
